<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<td>com.timp.test.CALENDAR.TarefasMultiplasEstagios</td>
=======
<<<<<<< HEAD
<td>com.timp.test.BRB.OutputAutomático</td>
=======
<<<<<<< HEAD
<td>com.timp.test.BRE.RegrasDeMensagens.Edicao.RegrasDeMensagensValoresCalculados</td>
=======
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<td>com.timp.test.TDK.Execucoes.ExecucoesPublicas.ExecuçõesExecuçõesPúblicasLixeiraemMassa</td>
=======
>>>>>>> refs/heads/Cristhian
<td>com.timp.test.BRE.RegrasdeAuditoriaN2.RegrasDeAuditoriaN2LixeiraEmMassaMaisExcluirEmMassa</td>
<<<<<<< HEAD
=======
<td>com.timp.test.BRE.Lixeira.ParametrosGerais.LixeiraExcluir</td>
>>>>>>> refs/heads/Fernando
=======
<td>com.timp.test.MDR.TabelasApoioESocial.Tabela21.NaturezaJuridicaExcluirMassa</td>
>>>>>>> refs/remotes/origin/Kenssy
=======
>>>>>>> refs/heads/master
>>>>>>> refs/heads/Cristhian
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
>>>>>>> refs/heads/Cristhian
=======
<td>com.timp.test.TDK.Execucoes.Lixeira.LixeiraExcluirEmMassa</td>
>>>>>>> refs/remotes/origin/Kenssy
=======
<td>com.timp.test.CALENDAR.MultiplosUsuariosCalendar</td>
>>>>>>> refs/remotes/origin/Yessy
=======
<td>com.timp.test.BSC.CorreçãodeNFVisualizar</td>
>>>>>>> refs/heads/Fernando
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<td>editar</td>
=======
<<<<<<< HEAD
<td>acessarBRE</td>
=======
<td>Calendar</td>
=======
<td>brbEntrar</td>
>>>>>>> refs/heads/Fernando
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<td>acessarCalendar</td>
>>>>>>> refs/remotes/origin/Yessy
=======
<td>visualizar</td>
>>>>>>> refs/heads/Fernando
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editar</td>
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
<td>excluirMassa</td>
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
<td>&nbsp;</td></tr>
<tr>
<<<<<<< HEAD
=======
<td>&nbsp;</td>
>>>>>>> refs/remotes/origin/Kenssy
=======
<td>acessarTDK</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>lixeiraExecucao</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
=======
>>>>>>> refs/heads/master
>>>>>>> refs/heads/Cristhian
>>>>>>> refs/heads/Cristhian
<td>criar</td>
=======
<td>acessarTDK</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>excluirEmMassa</td>
>>>>>>> refs/remotes/origin/Kenssy
<td>&nbsp;</td></tr>
<tr>
<<<<<<< HEAD
=======
<<<<<<< HEAD
<td>&nbsp;</td>
<<<<<<< HEAD
<td>lixeira</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>lixeiraDefinitiva</td>
=======
<td>acessarBRE</td>
>>>>>>> refs/heads/master
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
<td>&nbsp;</td></tr>
<tr>
>>>>>>> refs/heads/Cristhian
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<td>&nbsp;</td>
<td>BPMAEntrar</td>
<td>&nbsp;</td></tr>
<tr>
=======
<<<<<<< HEAD
=======
=======
>>>>>>> refs/remotes/origin/Kenssy
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
>>>>>>> branch 'Cristhian' of https://github.com/salc1997/TIMP_R1.git
>>>>>>> refs/heads/Cristhian
=======
>>>>>>> refs/remotes/origin/Kenssy
=======
>>>>>>> refs/remotes/origin/Yessy
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
